#calculator {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 250px;
    border: 1px solid black;
}

#display {
text-align: right;
padding: 10px;
}

#functions {

}

#numbers {

}